.App {
  text-align: center;
}

.App-footer {
  background-color:black;
  border-bottom:2px solid white;
  position: fixed;
  justify-content: right;
  align-items: right;
  width: 100%;
  bottom: 0;
  color: white;
  font-size: 25px;
 }

nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: lightblue;
  color: black;
}

.nav-Links{
  width: 100%;
  display: flex;
  justify-content: right;
  align-items: center;
  list-style: none;
  padding-right: 50px;
}
.nav-heading{
  padding-left: 30px;
}
